{% extends "header+footer.html" %}

{% block nav %}
<div class="navbar">
  <a href="/">Reviews</a>
  <a href="/time/">Time</a>
  <a href="/streak/">Streak</a>
  <a href="/retention/">Retention</a>
  <div class="dropdown">
	<button class="dropbtn">Leagues
	  <i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-content">
	  <a href="/alpha/">Alpha</a>
	  <a href="/beta/">Beta</a>
	  <a href="/gamma/">Gamma</a>
	  <a href="/delta/">Delta</a>
	</div>
  </div>
</div>
{% endblock %}

{% block table %}
	<div class="form">
		<form action="?" method="post" enctype="multipart/form-data">
		  {% csrf_token %}
		  <label for="username" style="font-family: arial, sans-serif;">Username:</label><br>
		  <input type="text" id="username" name="username"><br><br>
		  <label for="pwd" style="font-family: arial, sans-serif;">New password:<br>
		  <input type="password" id="pwd" name="pwd"><br><br>
		  <label for="rpwd" style="font-family: arial, sans-serif;">Repeat password:<br>
		  <input type="password" id="rpwd" name="rpwd"><br><br>
		  <input type="hidden" id="token" name="token" value="{{token}}"><br>
		  <input type="submit" value="Change password">
		</form>
	</div>
{% endblock %}