{% extends "header+footer.html" %}

{% block nav %}
<ul>
  <li><a href="/">Reviews</a></li>
  <li><a href="/time/">Time</a></li>
  <li><a href="/streak/">Streak</a></li>
  <li><a class="active" href="/retention/">Retention</a></li>
</ul>
{% endblock %}

{% block table %}
	<br>
	<table>
		<tr>
		    <th>#</th>
		    <th>Username</th>
		    <th>Retention %</th>
		 </tr>
		{% for i in  data %}
			<tr>
			    <td>{{i.place}}</td>
				<td>{{i.username}}</td>
				<td>{{i.value}}</td>
			 </tr>
		{% endfor %}
	</table>
{% endblock %}